CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
imgui.ini
Assets
!Assets/shaders
!Assets/Scripts
Assets/Scripts/build/
Assets/Scripts/out/
Assets/Scripts/.cache/
.vs
out
Builds
build
builds
.cache

